<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Intro in Vue</title>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="product">


            <div class="product-info">
                <img v-bind:src="image" />
                <h1>{{ product }}</h1>
                <p v-if="inStock">in Stock</p>
                <p v-else>Out of Stock</p>
                
                <span v-show="onSale">On Sale!</span>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div class="color-box"
                     v-for="variant in variants"
                     :key="variant.cariantId"
                     :style="{ backgroundColor:variant.variantColor}"
                     @mouseover="updateProduct(variant.variantImage)"
                     >
                </div><!-- bind style to data-->

            </div>
            <div class="cart">
                <p>Cart({{ cart }})</p></div>
                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock}">Add to cart</button>
                <button v-on:click="removeFromCart">Delate</button>



        </div>
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                image: "./img/beats-black.jpg",
                product: 'Earphone',
                altText: 'beats solo 3 Black',
                inStock: true,
                onSale: true,
                details: [
                    "80% cotton", "20% polyester", "Grender-neutral"
                ],
                variants: [{
                        variantId: 2234,
                        variantColor: "black",
                        variantImage:"./img/beats-black.jpg"
                    },
                    {
                        variantId: 2235,
                        variantColor: "red",
                        variantImage: "./img/beats-red.jpeg"
                        
                    }
                ],
                cart: 0,
                
                

            },
            methods:{
                addToCart(){
                    this.cart +=1
                },
                removeFromCart(){
                    this.cart -=1
                },
                updateProduct(variantImage){
                    this.image=variantImage
                }
                
                
                
            }
            
        })

    </script>
</body>

</html>
