body {
    font-family: sans-serif;
    background-color: aliceblue;
}
h{
    font-size: 24px;
}
img{
    width: 400px;
    height: 400px;
}
button{
    width:100px;
    height: 40px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-color: darkblue;
}
.color-box{
    width:40px;
    height: 40px;
    
}
.disabledButton{
    background-color: gray;
}
.outOfStock{
    text-decoration: line-through;
}